.Sider {
	width: 30%;
	.MenuItem {
		transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
		cursor: pointer;
		width: 100%;
		font-size: 60px;
		font-weight: bold;
		line-height: 80px;
		text-align: center;
		font-style: oblique;
		color: #ffffff;
		background: rgba(0, 0, 0, 0.5);
		&:hover {
			line-height: 110px;
		}
	}
}

@media (max-width: 1080px) {
	.Sider {
		width: 100%;
		.MenuItem {
			&:hover {
				line-height: 80px;
			}
		}
	}
}
