@bordercolor: rgba(255, 255, 255, 0.2);

.MovieStyle {
  display: flex;
  justify-content: space-between;
  .RightBar,
  .Content {
    border: 1px solid @bordercolor;
    backdrop-filter: blur(10px);
    height: calc(100vh - 50px);
  }
  .Content {
    transition: width 0.5s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .Upload {
      user-select: none;
      width: 200px;
      height: 100px;
      line-height: 100px;
      text-align: center;
      display: inline-block;
    }
    .canvasBox {
      position: relative;
      max-width: 95%;
      border: 1px solid @bordercolor;
      max-height: calc(100vh - 100px);
      font-size: 0;
      img {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      #canvas {
        max-width: 100%;
      }
    }
  }
  .RightBar {
    padding: 20px;
    padding-top: 0;
    background: rgba(17, 17, 17, 0.8);
    border-left: none;
    min-height: calc(100vh - 50px);
    width: 20%;
    position: fixed;
    right: 0;
    z-index: 999;
    transition: transform 0.5s;
    transform: translate3d(100%, 0px, 0px);
    .Title {
      user-select: none;
      padding: 15px 0;
      padding-top: 35px;
      font-size: 22px;
      line-height: 28px;
      border-bottom: 2px solid @bordercolor;
    }
    .RightBarContent {
      overflow-y: scroll;
      height: calc(100vh - 210px);
      -ms-overflow-style: none;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }
      .ItemModule {
        padding-top: 15px;
        line-height: 18px;
        font-size: 14px;
        color: #8d8d8d;
        > div {
          padding: 5px 0;
        }
        .ModuleTitle {
          color: #ffffff;
          font-size: 16px;
          line-height: 30px;
          padding: 0;
        }
        .colorPicker {
          border: none;
          background: transparent;
          padding: 0;
          height: 25px;
          width: 40px;
          vertical-align: sub;
        }
        .color {
          word-break: break-all;
          border: 2px solid #ffffff;
          padding: 0 5px;
        }
        .Block {
          margin: 10px 0;
        }
      }
    }
  }
  .LoadContent {
    width: 80%;
  }
  .LoadRight {
    transform: translate3d(0, 0, 0);
  }
  .footerBtns {
    color: #ffffff;
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
    .save,
    .replitImg {
      height: 35px;
      line-height: 34px;
      width: 40%;
      text-align: center;
      border: 1px solid @bordercolor;
      transition: background 0.1s;
      cursor: pointer;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.Tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

@media (max-width: 1080px) {
  .MovieStyle {
    display: initial;
    .Content {
      border-left: none;
      border-right: none;
      width: 100%;
      height: calc(80vh - 50px);
      #canvas {
        max-height: calc(70vh - 50px);
      }
    }
    .RightBar {
      background: rgba(17, 17, 17, 0.8);
      border: none;
      width: 100%;
      height: unset;
      min-height: 20vh;
      padding: 0;
      padding-bottom: 16px;
      transition: unset;
      transform: translate3d(0, 0px, 0px);
      position: unset;
      .Title {
        display: none;
      }
      .RightBarContent {
        overflow-x: scroll;
        height: unset;
        padding-bottom: 0;
        .ItemModule {
          padding: 0 30px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          > div {
            width: 50%;
          }
          .InputContext {
            width: 70%;
          }
          .Block {
            margin: 0 0 10px;
          }
        }
        .disabled {
          opacity: 0.3;
          pointer-events: none;
        }
      }
    }
    .footerBtns {
      position: fixed;
      top: 0;
      z-index: 999;
      height: 50px;
      width: 50vw;
      padding: 0;
    }
  }
}
